<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 90.7 MB/s eta 0:00:00ta 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-linux_x86_64.whl size=1142923 sha256=b9e801f1b0017477f14658cf0586c01dfcd8a22e46293284d3b065309b32235d
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/3a/7c/1e/12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.30
    Uninstalling SQLAlchemy-2.0.30:
      Successfully uninstalled SQLAlchemy-2.0.30
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyterhub 4.1.5 requires SQLAlchemy>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.11.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (8.22.2)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.32-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.6 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (2.18.0)
Requirement already satisfied: stack-data in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.11/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /opt/conda/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /opt/conda/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.32-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 99.2 MB/s eta 0:00:00
Downloading prettytable-3.11.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 44.2/44.2 kB 6.5 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.11.0 sqlalchemy-2.0.32 sqlparse-0.5.1

%load_ext sql

In [1]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [2]:
!pip install -q pandas

In [3]:
%sql sqlite:///my_data1.db

UsageError: Line magic function `%sql` not found.

In [38]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [9]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [5]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cur = conn.cursor()

# Execute the SQL query to get distinct LaunchSite values
cur.execute("SELECT DISTINCT LaunchSite FROM missions")

# Fetch all unique launch sites
unique_launch_sites = cur.fetchall()

# Print the unique launch sites
for site in unique_launch_sites:
    print(site[0])

# Close the connection
conn.close()

Cape Canaveral Space Launch Complex 40
Vandenberg Air Force Base Space Launch Complex 4E (SLC-4E)
Kennedy Space Center Launch Complex 39A (KSC LC 39A)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [27]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cur = conn.cursor()

# Execute the SQL query to get 5 records where LaunchSite begins with 'CCA'
cur.execute("SELECT * FROM missions WHERE LaunchSite LIKE 'CCA%' LIMIT 5")

# Fetch the records
records = cur.fetchall()

# Print the records
for record in records:
    print(record)

# Close the connection
conn.close()

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [15]:
cur.execute("PRAGMA table_info(missions)")
columns = cur.fetchall()

for column in columns:
    print(column[1])  # column[1] gives the name of the column

cur.execute("SELECT SUM(TotalMass) AS TotalPayloadMass FROM missions WHERE Client LIKE '%NASA (CRS)%'")

LaunchSite
Orbit
Outcome

OperationalError: no such column: TotalMass

In [16]:
cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
tables = cur.fetchall()

for table in tables:
    print(table[0])

SPACEXTABLE
missions
SPACEXTBL

In [24]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')
cur = conn.cursor()

# Check the structure of the 'payload' table
cur.execute("PRAGMA table_info(payload)")
columns = cur.fetchall()

# Print the column names
for column in columns:
    print(column[1])  # column[1] gives the name of the column

# Close the connection
conn.close()

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [25]:
import sqlite3

# Connect to your database
conn = sqlite3.connect("my_data1.db")  # replace with your actual database file

# Create a cursor object
cursor = conn.cursor()

try:
    # Execute the SQL query to get the average payload mass for booster version F9 v1.1
    cursor.execute('''
    SELECT AVG("PayloadMass") AS AveragePayloadMass
    FROM missions
    WHERE "BoosterVersion" = 'F9 v1.1';
    ''')

    # Fetch the result
    result = cursor.fetchone()
    average_payload_mass = result[0] if result[0] is not None else 0
    print(f"Average payload mass carried by booster version F9 v1.1: {average_payload_mass}")

except sqlite3.Error as e:
    print(f"SQLite error: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

Average payload mass carried by booster version F9 v1.1: 0

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [42]:
import sqlite3

# Connect to your database
conn = sqlite3.connect("my_data1.db")  # Replace with your actual database file

# Create a cursor object
cursor = conn.cursor()

try:
    # Execute the SQL query to find the first successful landing on a ground pad
    cursor.execute('''
    SELECT MIN("Date") AS FirstSuccessfulLandingDate
    FROM missions
    WHERE "Landing_Outcome" LIKE '%Success%' AND "Landing_Outcome" LIKE '%Ground Pad%';
    ''')

    # Fetch the result
    result = cursor.fetchone()
    first_successful_landing_date = result[0] if result[0] is not None else "No successful landing found"
    print(f"Date of the first successful landing on a ground pad: {first_successful_landing_date}")

except sqlite3.Error as e:
    print(f"SQLite error: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

Date of the first successful landing on a ground pad: No successful landing found

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [45]:
import sqlite3

# Connect to your database
conn = sqlite3.connect("my_data1.db")  # Replace with your actual database file

# Create a cursor object
cursor = conn.cursor()

try:
    # Query to find all records with successful drone ship landings
    cursor.execute('''
    SELECT "BoosterVersion", "PayloadMass", "Landing_Outcome"
    FROM missions
    WHERE "Landing_Outcome" LIKE '%Success%' 
      AND "Landing_Outcome" LIKE '%Drone Ship%';
    ''')

    # Fetch the results
    records = cursor.fetchall()
    
    # Print the records
    if records:
        print("Records with successful drone ship landings:")
        for record in records:
            print(record)
    else:
        print("No records found with successful drone ship landings.")

except sqlite3.Error as e:
    print(f"SQLite error: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

conn = sqlite3.connect("my_data1.db")
cursor = conn.cursor()

try:
    # Query to find payload masses between 4000 and 6000
    cursor.execute('''
    SELECT "BoosterVersion", "PayloadMass", "Landing_Outcome"
    FROM missions
    WHERE "PayloadMass" > 4000 
      AND "PayloadMass" < 6000;
    ''')

    # Fetch the results
    records = cursor.fetchall()
    
    # Print the records
    if records:
        print("Records with payload mass between 4000 and 6000:")
        for record in records:
            print(record)
    else:
        print("No records found with payload mass between 4000 and 6000.")

except sqlite3.Error as e:
    print(f"SQLite error: {e}")

finally:
    # Close the cursor and connection
    cursor.close()
    conn.close()

No records found with successful drone ship landings.
No records found with payload mass between 4000 and 6000.

### Task 7




##### List the total number of successful and failure mission outcomes

In [28]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')

# Create a cursor object
cur = conn.cursor()

# Execute the SQL query to count successful and failed outcomes
cur.execute("SELECT Outcome, COUNT(*) AS Total FROM missions GROUP BY Outcome")

# Fetch the records
outcomes = cur.fetchall()

# Print the outcomes
for outcome in outcomes:
    print(f"Outcome: {outcome[0]}, Total: {outcome[1]}")

# Close the connection
conn.close()

Outcome: Failure, Total: 1
Outcome: Success, Total: 2

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [30]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('my_data1.db')
cur = conn.cursor()

# Check the structure of the 'missions' table
cur.execute("PRAGMA table_info(missions)")
columns = cur.fetchall()

# Print the column names
for column in columns:
    print(column[1])  # column[1] gives the name of the column

# Close the connection
conn.close()
SELECT booster
FROM missions
WHERE mass = (
    SELECT MAX(mass)
    FROM missions
);

SyntaxError: invalid syntax (2694589559.py, line 17)

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

IndentationError: unexpected indent (3011056255.py, line 2)

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>